# Telegram Bot Token — замени на свой
BOT_TOKEN=8272250558:AAFNMdBzLTw9oOUIHO_Bu3mUVRUKnxFMcuo

# DB creds (должно совпадать с docker-compose)
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=appdb

# URL, по которому web и bot подключаются к Postgres
DATABASE_URL=postgresql://app:app@db:5432/appdb
